<div class="container-fluid p-2 mt-1 shadow-sm d-flex">
    <h6 class="text-end me-2 mt-2">AllState</h6>
    <ul class="nav flex-grow-1 justify-content-between">
        <li class="nav-item">
          <a class="nav-link active text-muted" aria-current="page">1.Basic Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted">2.Choose Plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted">3.Personal Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted">4.Payment</a>
        </li>
      </ul>
</div>

<!-- <div class="z-1 position-relative"> -->
  <router-outlet></router-outlet>
<!-- </div> -->

<div class="container w-50 py-3 mb-3 border rounded shadow sticky-bottom" *ngIf="router.url === '/car-insurance/choose-plan'">
  <div class="total-pay">
     <span class="fw-bold fs-6">₹{{totalPremiumReceived | async}}</span>
     <button class="btn btn-warning" routerLink="/car-insurance/personal-details">Continue</button>
  </div>
</div>