ul li a{
    // color: white;
    font-weight: 500;
    font-size: 13px;
}

.total-pay{
    display: flex;
    justify-content: space-between;
}

.home-container{
    background-color: #fff;
    margin: 22%;
    width:52%;
}