<nav class="navbar navbar-expand-lg bg-body shadow-sm">
    <div class="container-fluid">
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
       
      <div class="collapse navbar-collapse d-flex justify-content-center justify-content-between" id="navbarSupportedContent">
        <a class="navbar-brand flex-grow-1 text-end" href="#">AllState</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-grow-1 justify-content-center justify-content-between">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Claims</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Renewals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Become an agent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Resources</a>
          </li>
        </ul>
        <form class="d-flex ms-4" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="home-container">
  <div class="row w-75 mx-auto">
    <div class="col-md-8 mt-4 p-2">
      <h2 class="fs-5 fw-bold">Do the AllState Insurance</h2>
      <h5 class="text-muted fs-6">Trusted by 3+ Crores Indians</h5>
    </div>
    <div class="col-md-8 mt-2 p-2">
      <ul class="nav">
        <li class="nav-item me-2 border-warning">
          <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/health.svg" class="rounded-circle border border-warning shadow-sm p-1 bg-body" alt="...">
        </li>
        <li class="nav-item mx-2">
          <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/car-side-view.svg" class="rounded-circle shadow-sm p-1 bg-body" alt="...">
        </li>
        <li class="nav-item mx-2">
          <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/motorcycle-side-view.svg" class="rounded-circle shadow-sm p-1 bg-body" alt="...">
        </li>
        <li class="nav-item mx-2">
          <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/Autorikshaw.svg" class="rounded-circle shadow-sm p-1 bg-body" alt="...">
        </li>
        <li class="nav-item mx-2">
          <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/travel-airplane.svg" class="rounded-circle shadow-sm p-1 bg-body" alt="...">
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-9 mt-2">
      <div class="d-flex bg-body rounded">
        <div class="p-2 flex-fill border">
          <label for="exampleInputEmail1" class="labelClass">Pin Code</label> <br>
          <input type="text" class="no-border" id="exampleInputEmail1" placeholder="Enter PinCode">
          <!-- <div id="validationServerUsernameFeedback" class="d-block invalid-feedback">
            Please choose a username.
          </div> -->
        </div>
        <div class="p-2 flex-fill border">
          <label for="exampleInputEmail2" class="labelClass">Mobile No</label> <br>
          <input type="text" class="no-border" id="exampleInputEmail2" placeholder="Enter Mobile No.">
          <!-- <div id="validationServerUsernameFeedback" class="d-block invalid-feedback">
            Please choose a username.
          </div> -->
        </div>
        <div class="p-2 flex-fill border">
          <button type="button" class="btn btn-warning view-price-btn">View Prices</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-2">
     <a class="link shadow-sm mx-2 p-2" routerLink="/car-insurance">DONT HAVE REG NUM <i class="bi bi-chevron-right ms-1 iconClass"></i></a>
     <a class="link shadow-sm mx-2 p-2">IT'S A BRAND NEW CAR <i class="bi bi-chevron-right ms-1 iconClass"></i></a>
    </div>
  </div>
  </div>
